[Unit]
Description=Watt Manager
After=network.target

[Service]
WorkingDirectory=/opt/wattmgr
ExecStart=/usr/bin/node ./dist/app.js -c /etc/wattmgr.cfg -l /var/log/wattmgr.log -v info
Environment=NODE_ENV=production
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
